#btns {
  margin: 0 5px;
  border-radius: 20px;
  text-decoration: none;
  color: rgb(247, 247, 247);
}
.nav-car {
  max-width: max-content;
  max-height: max-content;
  margin-top: 20px;
}
#nav {
  margin-right: 300px;
}
#bg {
  background-image: url("./image3.jpg");
  height: 600px;
  background-repeat: "no-repeat";
}
.nav-link {
  text-align: center;
  margin: 0 15px;
  border-width: 0;
  border-style: none;
  border-radius: 80px;
  text-decoration: none;
}
.nav-link:hover {
  background-color: rgb(52, 232, 245);
}
.login-card {
  border-top: 25px solid #0f9d58;
  padding-top: 30px;
  max-width: 600px;
  max-height: 900px;
  padding-bottom: 30px;
  background: linear-gradient(-70deg, #fa7c30 30%, rgba(0, 0, 0, 0) 30%);
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.about {
  max-width: max-content;
  max-height: max-content;

  align-content: flex-start;
}
.list {
  padding: 20px 40px;
}
